<!doctype html>
<html>
  <head>
    <title>Plouton</title>
	<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
	<div id="quote">
		<p>"The real danger is not that computers will begin to think like men, but that 		men will begin to think like computers." 
		</p>
		<p id="author">
			~ Sydney J. Harris
		</p>
	</div>
	<h3 id="next_generation">
		The next generation tool that will....
	</h3>
	<img src="img/technology.png" id="technology" height="300" width="313">
	<h1 id="plouton">
		***Plouton***
	</h1>
	<h3 id="coming_shortly">
		Coming shortly to the online market!
	</h3>
  </body>
</html>